<link rel="stylesheet" href=<%= assetPath(`css/createProject.css`) %> />
<div class="createContainer">
  <form action="/createNewIssue/?id=<%=id%> " method="POST">
    <table class="createForm">
      <tr class="createInputs">
        <td><span class="createTitle">Name</span></td>

        <td>
          <input type="text" name="name" required class="createInput" />
        </td>
      </tr>
      <tr class="createInputs">
        <td><span class="createTitle">Description</span></td>
        <td>
          <textarea
            type="text"
            name="description"
            required
            class="createInput"
            rows="5"
            spellcheck
          ></textarea>
        </td>
      </tr>
      <tr class="createInputs">
        <td><span class="createTitle">Label</span></td>

        <td class="listContainer">
          <div class="listOfIssues">
            <% issueList.forEach(element => { %>

            <div class="tickLabel">
              <label for="<%= element %>" class="control control-checkbox"
                ><%= element %>
                <input
                  type="checkbox"
                  id="<%= element %>"
                  name="label"
                  value="<%= element %>"
                  class="ti ckInput"
                />
                <div class="control_indicator"></div>
              </label>
            </div>

            <% }) %>
          </div>
        </td>
      </tr>
      <tr class="createInputs">
        <td><span class="createTitle">Author</span></td>

        <td>
          <input type="text" name="author" required class="createInput" />
        </td>
      </tr>
    </table>
    <div class="createSubmit">
      <input type="submit" value="Create Issue" class="createButton" />
    </div>
  </form>
</div>
